{% extends 'layout.html' %}
  {% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
  {% endblock %}
    {% block content %}
      <div class="chat-wrapper">
        <h2 class="chat-title">Chat with {{ receiver.UserName }}</h2>

        <div id="chat-box" class="chat-box">
          {% for msg in messages %}
            <p class="message {{ 'sent' if msg.SenderId == sender.UserId else 'received' }}">
              <b>{{ msg.Sender.UserName }}:</b> {{ msg.Content | e }}
            </p>
          {% endfor %}
        </div>


        <div class="chat-input-area">
          <input id="message" type="text" placeholder="Type your message..." autocomplete="off" />
          <button onclick="sendMessage()">Send</button>
        </div>
      </div>
      
      <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>

      <script>
        const CHAT_DATA = {
          sender: {{ session.get('UserName', '') | tojson }},
          receiver: {{ receiver.UserName | tojson }},
          sender_id: {{ session.get('UserId', 0) }},
          receiver_id: {{ receiver.UserId }}
        };
      </script>

      <script src="{{ url_for('static', filename='js/chat.js') }}" defer></script>
      
    {% endblock %}
