<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chatpaglu</title>
  {% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  {% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>
<body>
    {%include "includes/nav.html"%}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert">
                  <p>
                    {{ message }}
                  </p>
                </div>
                
              {% endfor %}
              
            {% endif %}
        {% endwith %}

        {% block content %}
            
        {% endblock %}

  {%include "includes/footer.html"%}
</body>

</html>
