{% extends 'layout.html' %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %}


{% block content %}
  
  <div class="container">
    
    <h2>{{title}}</h2>
    
    <form method="POST" action="/login">
      
      {{ form.hidden_tag() }}

      <p>
        {{ form.Email.label }} <br>
        {{ form.Email }}
      </p>

      <p>
        {{ form.Password.label }} <br>
        {{ form.Password}}
      </p>
      <div class="remember-wrapper">
        <input type="checkbox" id="remember" name="RememberMe">
        <label class="remember" for="remember">Remember Me</label>
      </div>
      <p>
        {{ form.Submit() }}
      </p>


    <p class="form-link">Don't have an account? <a href="{{ url_for('signup' ) }}">Create one</a></p>
  
  </div>
  
  {% endblock %}